body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 32px 0;
    display: inline-block;
    border: 1px solid #ccc
    box-sizing: border-box;
}
.container{
    margin: auto%
    width: 50%
}
.data{
    padding: 16px;
}
img{
    text-align: center;
    margin: 24px 12px 0
    position: relative;
}
img.myavatar{
    width: 20%;
    border-radius: 50%;
}   

.datos{
    text-align: left;
    padding:16px
}
button {
    background-color: pink; 
    border: none;
    color:black;
    padding: 10px 24px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    }